In [65]:
import pandas as pd

In [66]:
df = pd.read_csv("netflix.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [67]:
df[df["type"] == "Movie"][df["listed_in"]!="Documentaries"]

C:\Users\revan\AppData\Local\Temp\ipykernel_12112\3875880889.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["type"] == "Movie"][df["listed_in"]!="Documentaries"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, Jos√© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niew√∂hner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
13,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,"Klara Castanho, Lucca Picon, J√∫lia Gomes, Marc...",NaN,"September 22, 2021",2021,TV-PG,91 min,"Children & Family Movies, Comedies",When the clever but socially-awkward Tet√™ join...
...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [68]:
df[df["type"] == "Movie"]["listed_in"].str.contains("Movies")

0       False
6        True
7        True
9       False
12       True
        ...
8801     True
8802     True
8804     True
8805     True
8806     True
Name: listed_in, Length: 6131, dtype: bool

In [69]:
df[df["type"] == "Movie"][df["listed_in"].str.contains("Movies")]

C:\Users\revan\AppData\Local\Temp\ipykernel_12112\3493451198.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["type"] == "Movie"][df["listed_in"].str.contains("Movies")]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, Jos√© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niew√∂hner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
13,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,"Klara Castanho, Lucca Picon, J√∫lia Gomes, Marc...",NaN,"September 22, 2021",2021,TV-PG,91 min,"Children & Family Movies, Comedies",When the clever but socially-awkward Tet√™ join...
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave Garc√≠a, Pablo Azor√≠n Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [70]:
df[df["type"] == "Movie"][df["listed_in"].str.contains("Documentaries")]

C:\Users\revan\AppData\Local\Temp\ipykernel_12112\2754331020.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["type"] == "Movie"][df["listed_in"].str.contains("Documentaries")]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave Garc√≠a, Pablo Azor√≠n Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
45,s46,Movie,My Heroes Were Cowboys,Tyler Greco,NaN,NaN,"September 16, 2021",2021,PG,23 min,Documentaries,Robin Wiltshire's painful childhood was rescue...
68,s69,Movie,Schumacher,"Hanns-Bruno Kammert√∂ns, Vanessa N√∂cker, Michae...",Michael Schumacher,NaN,"September 15, 2021",2021,TV-14,113 min,"Documentaries, International Movies, Sports Mo...",Through exclusive interviews and archival foot...
88,s89,Movie,Blood Brothers: Malcolm X & Muhammad Ali,Marcus Clarke,"Malcolm X, Muhammad Ali",NaN,"September 9, 2021",2021,PG-13,96 min,"Documentaries, Sports Movies","From a chance meeting to a tragic fallout, Mal..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8739,s8740,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...
8744,s8745,Movie,Williams,Morgan Matthews,NaN,United Kingdom,"November 4, 2017",2017,TV-MA,105 min,"Documentaries, International Movies, Sports Mo...",This inspiring documentary charts the birth of...
8746,s8747,Movie,Winnie,Pascale Lamche,NaN,"France, Netherlands, South Africa, Finland","February 26, 2018",2017,TV-14,85 min,"Documentaries, International Movies",Winnie Mandela speaks about her extraordinary ...
8756,s8757,Movie,Woodstock,Barak Goodman,NaN,United States,"August 13, 2019",2019,TV-MA,97 min,"Documentaries, Music & Musicals",For the 50th anniversary of the legendary Wood...
8763,s8764,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...

In [71]:
df["listed_in"].str.contains("Documentaries")

0        True
1       False
2       False
3       False
4       False
        ...
8802    False
8803    False
8804    False
8805    False
8806    False
Name: listed_in, Length: 8807, dtype: bool

In [75]:
df[df["listed_in"].str.contains("Documentaries")]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave Garc√≠a, Pablo Azor√≠n Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,Documentaries,Declassified documents reveal the post-WWII li...
45,s46,Movie,My Heroes Were Cowboys,Tyler Greco,NaN,NaN,"September 16, 2021",2021,PG,23 min,Documentaries,Robin Wiltshire's painful childhood was rescue...
68,s69,Movie,Schumacher,"Hanns-Bruno Kammert√∂ns, Vanessa N√∂cker, Michae...",Michael Schumacher,NaN,"September 15, 2021",2021,TV-14,113 min,Documentaries,Through exclusive interviews and archival foot...
88,s89,Movie,Blood Brothers: Malcolm X & Muhammad Ali,Marcus Clarke,"Malcolm X, Muhammad Ali",NaN,"September 9, 2021",2021,PG-13,96 min,Documentaries,"From a chance meeting to a tragic fallout, Mal..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8739,s8740,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...
8744,s8745,Movie,Williams,Morgan Matthews,NaN,United Kingdom,"November 4, 2017",2017,TV-MA,105 min,Documentaries,This inspiring documentary charts the birth of...
8746,s8747,Movie,Winnie,Pascale Lamche,NaN,"France, Netherlands, South Africa, Finland","February 26, 2018",2017,TV-14,85 min,Documentaries,Winnie Mandela speaks about her extraordinary ...
8756,s8757,Movie,Woodstock,Barak Goodman,NaN,United States,"August 13, 2019",2019,TV-MA,97 min,Documentaries,For the 50th anniversary of the legendary Wood...
8763,s8764,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...

In [74]:
#df.loc[df["listed_in"].str.contains("Documentaries"),"listed_in"] = "Documentaries"

In [137]:
df[df["listed_in"].str.contains("Movies")]["listed_in"].value_counts()

Comedy Movies           2002
International Movies    1216
Action Movies           1020
Horror Movies            393
Family Movies            319
Romantic Movies          103
Name: listed_in, dtype: int64

In [130]:
df.loc[df["listed_in"].str.contains("Thrillers"),"listed_in"] = "Other"

In [132]:
df.loc[df["listed_in"] == "Movies","listed_in"].value_counts()

Movies    57
Name: listed_in, dtype: int64

In [136]:
df.loc[df["listed_in"] == "Independent Movies","listed_in"] = "Other"

In [ ]:
df.loc[df["listed_in"].str.contains("Thrillers"),"listed_in"] = "Other"

In [125]:
df[df["listed_in"].str.contains("Dramas")].shape

(1002, 12)

In [87]:
#df.loc[df["listed_in"].str.contains("Action"),"listed_in"] = "Action Movies"

In [90]:
#df.loc[df["listed_in"].str.contains("Horror"),"listed_in"] = "Horror Movies"

In [95]:
#df.loc[df["listed_in"].str.contains("Comedies"),"listed_in"] = "Comedy Movies"

In [103]:
#df.loc[df["listed_in"].str.contains("International Movies"),"listed_in"] = "International Movies"

In [107]:
#df.loc[df["listed_in"].str.contains("Children & Family Movies"),"listed_in"] = "Family Movies"

In [111]:
#df.loc[df["listed_in"].str.contains("Romantic Movies"),"listed_in"] = "Romantic Movies"

In [115]:
#df.loc[df["listed_in"].str.contains("Music & Musicals"),"listed_in"] = "Music & Musicals"

In [119]:
#df.loc[df["listed_in"].str.contains("Sci-Fi & Fantasy"),"listed_in"] = "Sci-Fi & Fantasy"

In [126]:
df.loc[df["listed_in"].str.contains("Dramas"),"listed_in"] = "Dramas"

In [138]:
df["listed_in"].value_counts()

Comedy Movies                                                      2002
International Movies                                               1216
Action Movies                                                      1020
Dramas                                                             1002
Documentaries                                                       869
                                                                   ...
Anime Series, International TV Shows, Spanish-Language TV Shows       1
International TV Shows, Romantic TV Shows, TV Mysteries               1
Crime TV Shows, International TV Shows, TV Mysteries                  1
British TV Shows, Classic & Cult TV, Kids' TV                         1
Anime Features                                                        1
Name: listed_in, Length: 91, dtype: int64

In [139]:
df[df["listed_in"].str.contains("Shows")]["listed_in"].value_counts()

Anime Series, International TV Shows                                 88
International TV Shows, Korean TV Shows, Romantic TV Shows           65
Crime TV Shows, International TV Shows, Spanish-Language TV Shows    62
Crime TV Shows, Docuseries                                           50
International TV Shows, Reality TV                                   38
                                                                     ..
Anime Series, International TV Shows, Spanish-Language TV Shows       1
International TV Shows, Romantic TV Shows, TV Mysteries               1
Crime TV Shows, International TV Shows, TV Mysteries                  1
British TV Shows, Classic & Cult TV, Kids' TV                         1
Classic & Cult TV, Kids' TV, Spanish-Language TV Shows                1
Name: listed_in, Length: 67, dtype: int64

In [2]:
import pandas as pd, numpy as np
data = np.array([[1,2,3,'L1'],[4,5,6,'L2'],[7,8,9,'L3'],[4,8,np.nan,np.nan],[2,3,4,5],[7,9,np.nan,np.nan]],dtype='object')
df = pd.DataFrame(data,columns=['A','B','C','D'])

df

   A  B    C    D
0  1  2    3   L1
1  4  5    6   L2
2  7  8    9   L3
3  4  8  NaN  NaN
4  2  3    4    5
5  7  9  NaN  NaN

In [3]:
df.sort_values(by='A',inplace=True)
df.fillna(method='ffill')

   A  B  C   D
0  1  2  3  L1
4  2  3  4   5
1  4  5  6  L2
3  4  8  6  L2
2  7  8  9  L3
5  7  9  9  L3